@page "/eventform"
@using AndysManClub.Domain.DTO
@using AndysManClub.Shared
@using Microsoft.Extensions.Logging
@using MudBlazor
@inject ILogger<EventForm> Logger
@inject IAmcClient _amcClient

<MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
    <label>
        Identifier: @Model!.Id
    </label>    
    <MudTextField T="string" Label="Title" Required="true" RequiredError="Title is Required" @bind-Value="Model.Title" />
    <MudTextField T="string" Label="Description" @bind-Value="Model.Description"/>
    <MudTextField T="string" Label="Location" Required="true" RequiredError="Location is required" @bind-Value="Model.Location" />
    <MudDatePicker Label="Event Start Date" MinDate="DateTime.Today" Color="Color.Secondary" AdornmentColor="Color.Tertiary" Variant="Variant.Text"  @bind-Date="Model!.EventDateTime" />
        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(!success)"  Class="ml-auto" OnClick="@(()=> Submit())">Submit</MudButton>
</MudForm>

@code {
    bool success;
    string[] errors = { };
    MudForm form;

    [SupplyParameterFromForm]
    public AmcEvent? Model { get; set; }

    DateTime date = new DateTime(2019,11,17);

    protected override void OnInitialized() => Model ??= new AmcEvent
    {
        Title = string.Empty,
        Location = string.Empty

};

    private void Submit()
    {
        if (Model == null)
        {
            return;
        }

        Model.Volunteers = new List<PersonEvent>
        {
            new()
            {
                Event = Model,
                Volunteer = new Person()
                {
                    FirstName = "Dan",
                    LastName = "du Preez"
                },
                IsOrganiser = true
            }
        };
        
        _amcClient.CreateEvent(Model);
    }
}