@using MudBlazor

@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider/>
<MudSnackbarProvider/>

@code {
    MudTheme MyCustomTheme = new MudTheme()
        {
            //rgb(254 201 3/var(--tw-text-opacity))
            Palette = new PaletteLight()
            {
                Primary = Colors.Shades.White,
                Secondary = Colors.BlueGrey.Default,
                Tertiary = "#fec903",

                Background = Colors.Shades.Black,

                TextPrimary = Colors.Shades.White,
                TextSecondary = Colors.Yellow.Default,
                TextDisabled = Colors.Grey.Lighten1,
                ActionDisabled = Colors.Grey.Darken1,
                ActionDefault = Colors.BlueGrey.Default,
                Surface = Colors.Grey.Darken4,
                // Text

                ActionDisabledBackground = Colors.Grey.Lighten1,
                AppbarBackground = Colors.Red.Default,
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Blue.Lighten1
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<script src="_content/MudBlazor/MudBlazor.min.js"></script>